.title {
  position: relative;
}
.title:before {
  content: '';
  display: block;
  width: 12px;
  height: 28px;
  border-top: 3px solid #A1A0A3;
  border-left: 3px solid #A1A0A3;
  position: absolute;
  left: -16px;
  top: 4px;
  border-top-left-radius: 0.125rem;
}
.title:after {
  content: '';
  display: block;
  width: 12px;
  height: 28px;
  border-bottom: 3px solid #A1A0A3;
  border-right: 3px solid #A1A0A3;
  position: absolute;
  right: -16px;
  bottom: 4px;
  border-bottom-right-radius: 0.125rem;
}